// ==================================================
//	Global Layout Styles
// ==================================================

.page {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 20px 25px;
    padding:30px;
    background-color: $page-color;
}


// ============================
// Site header
// ============================



// ============================
// Site footer
// ============================

